<div class="container ">
  <h1 class="text-center">Event {{group.name}} details</h1>
  <div class="text-center ">
      <h6 class=" mt-2 opacity-75 text-center">This event is happening on {{group.date}}</h6>
  </div>

  <hr>

  <div class="card">
    <h2 class="event-name">The {{ group.name }}</h2>
    <hr width="45%">
    <h5 class="details">Event Details:</h5>
    <p class="p-event"><b>Description:</b> {{ group.description }}</p>
    <p class="p-event"><b>Organizer email:</b> {{ group.email }}</p>

    <button type="button" routerLink="/detail/groups/edit/{{group.id}}" id="btnEditGroup" class="btn btn-dark form-control btnEditGroup">Edit</button>

    <div class="p-event dList-lbl">
      <p><b>Drones attending the meetup</b></p>
      @for (drone of drones; track $index) {

        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
          <img src="./assets/img/drone.svg" alt="droneImg" width="48" height="48"
               class="rounded-circle flex-shrink-0">
          <div>
            <div>
              <p class="mb-0 opacity-75">{{ drone.droneModel }} </p>
            </div>
            <div class="d-flex flex-column">
              <small class="opacity-50">{{ drone.droneWeight }}g</small>
            </div>
          </div>
        </div>
      } @empty {
        <p class="fst-italic text-danger">No Drones Available</p>
      }
    </div>

    <div class="col-6 container" id="mapContainer"></div>

  </div>
</div>

