.card {
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  float: none;
}
.details {
  color: #606060;
  padding-bottom: 1%;
}
.event-name {
  padding-top: 1%;
  margin-bottom: 0;
  width: 80%;
}
.p-event {
  line-height: 40%;
  width: 55%;
}
.dList-lbl {
  float: right;
  position: relative;
  left: 55%;
  bottom: 80px;
  line-height: 100%;
}
.btnEditGroup {
  width: 15%;
  position: relative;
  left: 85%;
  bottom: 185px;
}
