<div class="container ">


    <h1 class="text-center" >All Fly Zones</h1>

  <div class="text-center ">
  <h6 class=" mt-2 opacity-75 text-center">Click zone to edit</h6>
    <button type="button" class="btn btn-primary btn-sm fw-medium mx-5 rounded-5" routerLink="/addZones">Add Zone<i class="bi bi-plus-circle mx-1 "></i></button>

  </div>

  <hr>

  <div class="d-flex flex-column flex-md-row p-3 gap-4 py-md-2 align-items-center justify-content-center">

  <div class="list-group">
    @for(zone of zones;track $index){

      <a routerLink="/detail/zones/{{zone.id}}" class="list-group-item list-group-item-action d-flex gap-3 py-3">
        <img src="./assets/img/default.png"
             alt="droneImg" width="48" height="48"
             class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{ zone.address }}</h6>
            <p class="mb-0 opacity-75">Drones quantity: {{ zone.maxDrones }}</p>
          </div>
          <div class="d-flex flex-column">
            <small class="opacity-50 ">Radius {{zone.radius}}(m)</small>
          </div>

        </div>
      </a>
    } @empty {
      <h3 class="text-center shadow-sm rounded-5 text-warning p-2">No zones found</h3>
      <img src="./assets/img/bee-sad.png" alt="sadbee" >
    }

  </div>

  </div>
</div>
