<div class="container">
  <div class="text-center">
  <h1>Welcome to Blade Brigade<img alt="drone icon" class="align-text-bottom" ngSrc="assets/img/drone.svg" height="50" width="50"></h1>
  <img ngSrc="assets/img/drone-cute.jpeg" priority="ngSrc" class="img-fluid rounded-4" alt="cute drone" height="256" width="256">


  </div>

  <div class="card-group rounded-2 ">
    <!-- Placeholder for CRUD operations for Drones -->
    <div class="card bg-light-subtle border-light">
      <div class="card-body">
        <h5 class="card-title">Manage Drones</h5>
        <p class="card-text">Here you can add individual drones or view our collection.</p>
        <!-- CRUD buttons -->
        <div class="d-flex gap-1 ">
          <a routerLink="/addDrones" class="btn btn-primary rounded-4">Add Drone</a>
          <a routerLink="/showDrones" class="btn bg-light shadow-sm  rounded-4 text-secondary">Show All Drones</a>
        </div>
      </div>
    </div>

    <!-- Placeholder for CRUD operations for Meetup groups -->
    <div class="card bg-light-subtle border-light ">
      <div class="card-body">
        <h5 class="card-title">Manage Meetup Groups</h5>
        <p class="card-text">Here you can add a drone meetup or view our meetups.</p>
        <!-- CRUD buttons -->
        <div class="d-flex gap-1 ">
          <a routerLink="/addGroups" class="btn btn-primary rounded-4">Add Group</a>
          <a routerLink="/showGroups" class="btn bg-light shadow-sm rounded-4 text-secondary">Show All Groups</a>
        </div>
      </div>
    </div>

    <!-- Placeholder for CRUD operations for Zones acceptable to fly -->
    <div class="card bg-light-subtle border-light">
      <div class="card-body">
        <h5 class="card-title">Manage Flight Zones</h5>
        <p class="card-text">Here you can add or view the accepted fly zones.</p>
        <!-- CRUD buttons -->
        <div class="d-flex gap-1 ">
          <a routerLink="/addZones" class="btn btn-primary rounded-4">Add FlyZone</a>
          <a routerLink="/showZones" class="btn bg-light shadow-sm rounded-4 text-secondary">Show All FlyZones</a>
        </div>
      </div>
    </div>
  </div>

</div>
