<div class="container">

    <div>
      <div class="row text-center">
        <h1>Options</h1>

        <div class="col-5">
          <h3>Database Actions</h3>
          <div class="btn-group mb-4">
            <a (click)="CreateDBFunction()" class="btn btn-primary btn-sm ">Create Database</a>
            <a (click)="DeleteDBFunction()" class="btn btn-outline-secondary btn-sm ">Delete Database</a>
          </div>

        </div>
        <div class="col-7">
          <h3>Create Tables</h3>
          <a (click)="CreateAllTablesDBFunction()" class="btn btn-primary btn-sm ">Create all tables</a>
          <br>
          <a (click)="CreateDroneTableDBFunction()" class="btn btn-outline-secondary btn-sm btn-settings">Create drone table</a>
          <a (click)="CreateZoneTableDBFunction()" class="btn btn-outline-secondary btn-sm btn-settings">Create zone table</a>
          <a (click)="CreateGroupTableDBFunction()" class="btn btn-outline-secondary btn-sm btn-settings">Create event table</a>
        </div>
      </div>

      <hr>

      <h2>About Drones</h2>
      <hr>
      <p>Here at Blade Brigade, we love drones! But what do we also love? Teaching and maintaining good drone
        operator practices. Operating a drone is very fun, but is no joke. By following the simple steps below,
        and by reading the additional information, we guarantee you'll have a blast in recreational drone operation!</p>

      <h2>FAQs About Drones</h2>
      <hr>
      <h4>What are drones?</h4>
      <p>Drones, also known as unmanned aerial vehicles (UAVs), are aircraft without a human pilot aboard. They can be
        controlled remotely by a human operator or autonomously by onboard computers.</p>

      <h4>What are the uses of drones?</h4>
      <p>Drones have various applications including aerial photography, videography, surveillance, agriculture, search
        and rescue operations, package delivery, and recreational activities.</p>

      <h4>Are there any regulations for flying drones?</h4>
      <p>Yes, there are regulations and guidelines set by aviation authorities in different countries to ensure safe and
        responsible drone operation. These regulations typically cover aspects such as drone registration, flight
        restrictions, altitude limits, and privacy concerns.</p>
    </div>

  </div>

