<div class="container">

    <div >
      <div class="row text-center bg-light p-4 shadow-sm rounded-2 m-1">
        <h1><i class="bi bi-gear-wide-connected"></i> Options</h1>

        <div class="col-5 mb-4 d-flex flex-column gap-1">

          <h4>Database Actions</h4>

            <a (click)="CreateDBFunction()" class="btn btn-success btn-light text-secondary shadow-sm btn-sm "><i class="bi bi-database-fill-add"></i> Create Database</a>
            <a (click)="DeleteDBFunction()" class="btn text-danger btn-light btn-sm shadow-sm"><i class="bi bi-trash3"></i> Delete Database</a>


        </div>
        <div class="col-7 d-flex flex-column gap-1 ">
          <h4>Create Datastore</h4>
          <a (click)="CreateAllTablesDBFunction()" class="btn btn-light text-primary btn-sm shadow-sm"><i class="bi bi-database-fill-up"></i> All</a>
          <a (click)="CreateDroneTableDBFunction()" class="btn btn-success btn-light text-secondary shadow-sm btn-sm"><i class="bi bi-database-fill-up"></i> Seed Drones</a>
          <a (click)="CreateZoneTableDBFunction()" class="btn btn-success btn-light text-secondary shadow-sm btn-sm"> <i class="bi bi-database-fill-up"></i> Seed Zones</a>
          <a (click)="CreateGroupTableDBFunction()" class="btn btn-success btn-light text-secondary shadow-sm btn-sm"><i class="bi bi-database-fill-up"></i> Seed Groups</a>
        </div>
      </div>



      <h2 class="mt-4"><i class="bi bi-info-circle text-primary"></i> About Blade Brigade </h2>
      <hr>
      <p>Here at Blade Brigade, we love drones! But what do we also love? Teaching and maintaining good drone
        operator practices. Operating a drone is very fun, but is no joke. By following the simple steps below,
        and by reading the additional information, we guarantee you'll have a blast in recreational drone operation!</p>

      <h2>FAQs About Drones</h2>
      <hr>
      <h4>What are drones?</h4>
      <p>Drones, also known as unmanned aerial vehicles (UAVs), are aircraft without a human pilot aboard. They can be
        controlled remotely by a human operator or autonomously by onboard computers.</p>

      <h4>What are the uses of drones?</h4>
      <p>Drones have various applications including aerial photography, videography, surveillance, agriculture, search
        and rescue operations, package delivery, and recreational activities.</p>

      <h4>Are there any regulations for flying drones?</h4>
      <p>Yes, there are regulations and guidelines set by aviation authorities in different countries to ensure safe and
        responsible drone operation. These regulations typically cover aspects such as drone registration, flight
        restrictions, altitude limits, and privacy concerns.</p>
    </div>

  </div>

