<div class="container">

    <div>
      <div class="row text-center">
        <h1>Options</h1>
        <div class="col-5">
          <h3>Fly Zones</h3>
          <a href="/showZones" class="btn btn-primary btn-sm ">See All  Fly Zones</a>
        </div>
        <div class="col-7">
          <h3>Database Actions</h3>
          <div class="btn-group mb-4">

            <a href="#" class="btn btn-primary btn-sm ">Create Database </a>


            <a href="#" class="btn btn-outline-secondary btn-sm ">Delete </a>

          </div>

        </div>
      </div>

      <h2>About Drones</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dui vitae augue consectetur ultricies vel
        sed mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi nec
        dui ac enim ullamcorper consectetur. Sed vehicula urna et velit faucibus, et facilisis elit ullamcorper.</p>

      <h2>FAQs About Drones</h2>
      <hr>
      <h4>What are drones?</h4>
      <p>Drones, also known as unmanned aerial vehicles (UAVs), are aircraft without a human pilot aboard. They can be
        controlled remotely by a human operator or autonomously by onboard computers.</p>

      <h4>What are the uses of drones?</h4>
      <p>Drones have various applications including aerial photography, videography, surveillance, agriculture, search
        and rescue operations, package delivery, and recreational activities.</p>

      <h4>Are there any regulations for flying drones?</h4>
      <p>Yes, there are regulations and guidelines set by aviation authorities in different countries to ensure safe and
        responsible drone operation. These regulations typically cover aspects such as drone registration, flight
        restrictions, altitude limits, and privacy concerns.</p>
    </div>

  </div>

