<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light-subtle mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="align-text-top" ngSrc="../../../assets/img/drone.svg" alt="drone" height="30" width="30">{{ title }} </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">

        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDrones" role="button" data-bs-toggle="dropdown" aria-expanded="false">Drones</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDrones">
          <li><a class="dropdown-item" routerLink="/showDrones">View Drones</a></li>
          <li><a class="dropdown-item" routerLink="/addDrones">Add a Drone</a></li>
        </ul>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEvents" role="button" data-bs-toggle="dropdown" aria-expanded="false">Meetup</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownEvents">
          <li><a class="dropdown-item" routerLink="/showGroups">View Events</a></li>
          <li><a class="dropdown-item" routerLink="/addGroups">Add a Event</a></li>
        </ul>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownZone" role="button" data-bs-toggle="dropdown" aria-expanded="false">Zone</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownZone">
          <li><a class="dropdown-item" routerLink="/showZones">View Zone</a></li>
          <li><a class="dropdown-item" routerLink="/addZones">Add a Zone</a></li>
        </ul>
        <a class="nav-link" routerLink="/settings">Information</a>

      </div>
    </div>
  </div>
</nav>
